<div class="sidenav">
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon
        matListIcon
        class="mdi mdi-cart-variant"
        matTooltip="{{ 'shoppingCart' | translate }}"
        matBadge="3"
        matBadgeColor="primary"
        matBadgeSize="small"
      >
      </mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'shoppingCart' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-account-cash" matTooltip="{{ 'becomeSeller' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'becomeSeller' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon
        matListIcon
        class="mdi mdi-bell"
        matTooltip="{{ 'notifications' | translate }}"
        matBadge="7"
        matBadgeColor="primary"
        matBadgeSize="small"
      ></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'notifications' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-forum" matTooltip="{{ 'messages' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'messages' | translate }}</h4>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-account" matTooltip="{{ 'myProfile' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myProfile' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-shopping" matTooltip="{{ 'myPurchases' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myPurchases' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-map-marker-radius" matTooltip="{{ 'myDeliveryAddresses' | translate }}">
      </mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myDeliveryAddresses' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-heart" matTooltip="{{ 'myWishlist' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myWishlist' | translate }}</h4>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-whistle" matTooltip="{{ 'promotions' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'promotions' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-table" matTooltip="{{ 'products' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'products' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-view-dashboard" matTooltip="{{ 'productCategories' | translate }}">
      </mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'productCategories' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-wan" matTooltip="{{ 'countriesAndRegions' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'countriesAndRegions' | translate }}</h4>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon
        matListIcon
        class="mdi mdi-list-status"
        matTooltip="{{ 'myOrders' | translate }}"
        matBadge="28"
        matBadgeColor="primary"
        matBadgeSize="small"
      >
      </mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myOrders' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-finance" matTooltip="{{ 'myNumbers' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myNumbers' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-bag-checked" matTooltip="{{ 'myShops' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myShops' | translate }}</h4>
    </a>
    <a mat-list-item>
      <mat-icon matListIcon class="mdi mdi-table-account" matTooltip="{{ 'myShopProducts' | translate }}"></mat-icon>
      <h4 matLine [hidden]="!isLarge">{{ 'myShopProducts' | translate }}</h4>
    </a>
  </mat-nav-list>
</div>
