<app-navbar-1></app-navbar-1>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="mat-elevation-z1">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="app-contents">
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>
    <h1>New Home</h1>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
